@charset "utf-8";

@media only screen and (min-width: 1400px) {
.pc		{display:block;}
.tablet	{display:none;}
.mobile	{display:none;}

.bg_wrap		{background:url('../_img/pc/main/white_bg00.png')no-repeat 0% 34%/100%;}
.all_wrap		{max-width:1420px; width:100%; margin:0 auto; position:relative; }

.visual_wrap					 {margin:0 65px; position:relative;}
.visual_wrap .fade				{width:100%; height:482px;}
.visual_wrap .fade > div		{}
.visual_wrap p.img				{height:482px;width:100%;}
.visual_wrap .txtwrap			{position:absolute; top:125px; padding-left:2%;}
.visual_wrap .text p:first-child		{font:400 35px/51px "S-CoreDream"; color:#000;}
.visual_wrap .text p:first-child span	{font:800 35px/51px "S-CoreDream";}
.visual_wrap .text p:last-child			{color:#5b607c; font:400 18px/26px "Noto Sans KR", sans-serif; margin-top:10px;}
.visual_wrap .btns			{display:flex; margin-top:59px;}
.visual_wrap .btns .btn01	{background:#343c85 url('../_img/pc/main/btn_arr.png')no-repeat 90% 50% /6px;}
.visual_wrap .btns .btn02	{background:#6571e0 url('../_img/pc/main/btn_arr.png')no-repeat 90% 50% /6px;; margin-left:15px;}
.visual_wrap .btns a		{padding:15px 63px 15px 25px; color:#fff; font:300 15px/15px "Noto Sans KR", sans-serif;  transition:all, 0.3s;}
.visual_wrap .btns .btn01:hover	{background:#242a64 url('../_img/pc/main/btn_arr.png')no-repeat 90% 50% /6px;}
.visual_wrap .btns .btn02:hover	{background:#434fbd url('../_img/pc/main/btn_arr.png')no-repeat 90% 50% /6px;}
.visual_wrap .slick-dots	{bottom:unset; text-align:left; top:318px; left:10%; width:fit-content;}
.visual_wrap .slick-dots li.slick-active button::before	{background-color:#4d5cbc;}

.section_title			{text-align:center;}
.section_title span		{color:#ee2c49; font:400 16px/21px "Open Sans", sans-serif;}
.section_title p		{color:#000; font:600 32px/42px "S-CoreDream"; margin-top:5px;}

.business	{width:100%; text-align:center; padding:70px auto;}
.business > div	{margin:0 auto; width:100%;}
.business > div .cen	{padding:65px 0 0;}
.business .boxes			{overflow:hidden; padding:30px 0px 70px;}
.business .boxes .change02	{display:none;}
.business .boxes > div		{width:33%; cursor:pointer; float:left; box-sizing:border-box; padding:10px;}
.business .boxes > div:nth-child(3n)	{padding-right:0;}
.business .boxes > div:nth-child(1),
.business .boxes > div:nth-child(4)		{padding-left:0;}
.business .boxes > div:nth-child(2),
.business .boxes > div:nth-child(5)	{width:34%;}
.business .boxes > div > div	{padding:20px 20px 20px 20px; border:1px solid #ddd; height:157px; position:relative;}
.business .boxes .txt	{text-align:left; padding:15px;}
.business .boxes .txt p:first-child	{font:500 21px/22px "S-CoreDream"; color:#333333;}
.business .boxes .txt p.change01	{font:300 16px/23px "Noto Sans KR", sans-serif; color:#888; margin-top:13px;}
.business .boxes div.b01 > div	{background:#f7f7f7 url('../_img/pc/main/box_bg01.png')no-repeat 100% 80%; transition:ease, 0.3s;}
.business .boxes div.b02 > div	{background:#f7f7f7 url('../_img/pc/main/box_bg02.png')no-repeat 100% 135%; transition:ease, 0.3s;}
.business .boxes div.b03 > div	{background:#f7f7f7 url('../_img/pc/main/box_bg03.png')no-repeat 100% 190%; transition:ease, 0.3s;}
.business .boxes div.b04 > div	{background:#f7f7f7 url('../_img/pc/main/box_bg04.png')no-repeat 103% 114%; transition:ease, 0.3s;}
.business .boxes div.b05 > div	{background:#f7f7f7 url('../_img/pc/main/box_bg05.png')no-repeat 128% -101%; transition:ease, 0.3s;}
.business .boxes div.b06 > div	{background:#f7f7f7 url('../_img/pc/main/box_bg06.png')no-repeat 95% 118%;  transition:ease, 0.3s;}
.business .boxes > div:hover > div {box-shadow:5px 5px 10px 0px rgba(0,0,0,0.23);}
.business .boxes div:hover .txt p:first-child	{font:600 21px/20px "S-CoreDream"; color:#ee2c49;}
.business .boxes div:hover .change01			{display:none;}
.business .boxes div:hover .change02			{display:block; font:300 16px/24px "Noto Sans KR", sans-serif; color:#555; margin-top:10px; }
.business .boxes div:hover .change02 li::before	{content:''; width:3px; height:3px; background:#888; border-radius:4px; left:0; position:absolute; top:12px;}
.business .boxes div:hover .change02::after	{content:''; width:16px; height:16px; background:url('../_img/pc/main/pink_plus.png')no-repeat 50% 50%; right:39px; top:37px; position:absolute;}
.business .boxes div:hover .change02 li		{padding-left:6px; position:relative; color:#555;}
.business .boxes > div:hover > div::before	{content:''; position:absolute; width:calc(100% - 3px); height:100%; left:0; border:2px solid #ee2c49; height:100%; top:-1px;}
.business .boxes div.b01:hover > div	{background:#fff url('../_img/pc/main/box_bg01-2.png')no-repeat 100% 80%;}
.business .boxes div.b02:hover > div	{background:#fff url('../_img/pc/main/box_bg02-2.png')no-repeat 100% 135%;}
.business .boxes div.b03:hover > div	{background:#fff url('../_img/pc/main/box_bg03-2.png')no-repeat 100% 190%;}
.business .boxes div.b04:hover > div	{background:#fff url('../_img/pc/main/box_bg04-2.png')no-repeat 103% 114%;}
.business .boxes div.b05:hover > div	{background:#fff url('../_img/pc/main/box_bg05-2.png')no-repeat 128% -101%;}
.business .boxes div.b06:hover > div	{background:#fff url('../_img/pc/main/box_bg06-2.png')no-repeat 95% 118%;}

.news	{max-width:1400px;}
.news .section			{padding:30px 0px 70px; display:table; width:100%; table-layout:fixed;}
.news .notice			{max-width:697px; display:inline-block;}
.news .notice li		{display:flex; border-bottom:1px solid #e8e8e8; padding:15px 0; cursor:pointer;}
.news .notice .date		{text-align:center;}
.news .notice .date p	{font:600 44px/33px "Montserrat", sans-serif; color:#d4d4d4;}
.news .notice .date span{font:400 15px/19px "Open Sans", sans-serif; color:#777;}
.news .notice .txt		{padding:0 0 0 20px;}
.news .notice .txt p	{font:500 17px/29px "Noto Sans KR", sans-serif; color:#333; display:block; overflow:hidden; width:625px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal !important;}
.news .notice .txt span	{font:300 16px/22px "Noto Sans KR", sans-serif; color:#666; display:block; overflow:hidden; width:625px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal !important;}
.news .notice .txt:hover p		{color:#ee2c49;}
.news .notice li:first-child	{padding-top:0;}
.news .banner	{width:663px; display:inline-block; float:right;}
.news .banner > div .slick-slide	{margin-right:20px;}

}

@media only screen and (min-width: 640px) and (max-width: 1399px) {
.pc		{display:none;}
.tablet	{display:block;}
.mobile	{display:none;}

.bg_wrap	{background:url('../_img/mo/main/white_bg01.png')no-repeat 0% 15%/120px;}
.all_wrap	{padding:0 20px; background:url('../_img/mo/main/white_bg02.png')no-repeat 100% 33%/120px;}

.visual_wrap					 {margin:0 20px; position:relative;}
.visual_wrap .fade				{width:100%;}
.visual_wrap .fade > div		{}
.visual_wrap p.img				{height:602px;width:100%;}
.visual_wrap .txtwrap			{position:absolute; top:99px; padding-left:1%;}
.visual_wrap .text p:first-child		{font:400 35px/51px "S-CoreDream"; color:#000;}
.visual_wrap .text p:first-child span	{font:800 35px/51px "S-CoreDream";}
.visual_wrap .text p:last-child			{color:#5b607c; font:400 18px/26px "Noto Sans KR", sans-serif; margin-top:10px;}
.visual_wrap .btns			{margin-top:59px;}
.visual_wrap .btns .btn01	{background:#343c85 url('../_img/pc/main/btn_arr.png')no-repeat 90% 50% /6px;}
.visual_wrap .btns .btn02	{background:#6571e0 url('../_img/pc/main/btn_arr.png')no-repeat 90% 50% /6px; margin-top:10px;}
.visual_wrap .btns a		{padding:15px 63px 15px 25px; color:#fff; font:300 15px/15px "Noto Sans KR", sans-serif;  transition:all, 0.3s; width:140px; display:block;}
.visual_wrap .btns .btn01:hover	{background:#242a64 url('../_img/pc/main/btn_arr.png')no-repeat 90% 50% /6px;}
.visual_wrap .btns .btn02:hover	{background:#434fbd url('../_img/pc/main/btn_arr.png')no-repeat 90% 50% /6px; margin-top:10px;}
.visual_wrap .slick-dots	{bottom:57px; text-align:left; top:unset; left:4%; width:fit-content;}
.visual_wrap .slick-dots li.slick-active button::before	{background-color:#4d5cbc;}

.section_title		{text-align:center;}
.section_title span	{color:#ee2c49; font:400 16px/21px "Open Sans", sans-serif;}
.section_title p		{color:#000; font:600 29px/36px "S-CoreDream"; margin-top:5px;}

.business	{text-align:center; padding:40px auto;}
.business > div	{margin:0 auto; width:100%;}
.business > div .cen	{padding:40px 0;}
.business .boxes			{overflow:hidden; margin:25px 0 0; cursor:pointer; display: grid; gap: 10px; grid-template-columns: repeat(2, minmax(0,1fr));}
.business .boxes .change02	{display:none;}
.business .boxes > div					{float:left; box-sizing:border-box;}
.business .boxes > div > div			{padding:20px 20px 20px 20px;border:1px solid #ddd; height:90px;}
.business .boxes > div:nth-child(2n)	{padding-right:0;}
.business .boxes .txt				{text-align:left; }
.business .boxes .txt p:first-child	{font:500 20px/22px "S-CoreDream"; color:#333333;}
.business .boxes .txt p.change01	{font:300 15px/21px "Noto Sans KR", sans-serif; color:#888; margin-top:6px;}
.business .boxes > div.b01 > div	{background:#f7f7f7 url('../_img/mo/main/box_bg01.png')no-repeat 100% 80%/179px ;}
.business .boxes > div.b02 > div	{background:#f7f7f7 url('../_img/mo/main/box_bg02.png')no-repeat 100% 135% /151px;}
.business .boxes > div.b03 > div	{background:#f7f7f7 url('../_img/mo/main/box_bg03.png')no-repeat 100% 36px /119px ;}
.business .boxes > div.b04 > div	{background:#f7f7f7 url('../_img/mo/main/box_bg04.png')no-repeat 93% 116%/158px ;}
.business .boxes > div.b05 > div	{background:#f7f7f7 url('../_img/mo/main/box_bg05.png')no-repeat 110% 40px /153px;}
.business .boxes > div.b06 > div	{background:#f7f7f7 url('../_img/mo/main/box_bg06.png')no-repeat 90% 57px /120px;}

.news	{}
.news .section			{padding:30px 0px 70px; display:block; width:100%; }
.news .notice			{width:100%;}
.news .notice li		{display:flex; border-bottom:1px solid #e8e8e8; padding:15px 0; cursor:pointer;}
.news .notice .date		{text-align:center;}
.news .notice .date p	{font:600 36px/24px "Montserrat", sans-serif; color:#d4d4d4;}
.news .notice .date span{font:400 14px/19px "Open Sans", sans-serif; color:#777;}
.news .notice .txt		{padding:0 0 0 15px; display:block; overflow:hidden; width:100%; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal !important;}
.news .notice .txt p	{font:500 16px/22px "Noto Sans KR", sans-serif; color:#333;  display:block; overflow:hidden; width:100%; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal !important;}
.news .notice .txt span	{font:300 15px/21px "Noto Sans KR", sans-serif; color:#666;}
.news .notice .txt:hover p		{color:#ee2c49;}
.news .notice li:first-child	{padding-top:0;}
.news .banner	{width:100%; margin-top:60px;}
.news .banner > div .slick-slide	{margin-right:20px;}
.news .banner p img	{width:100%;}

}

@media only screen and (max-width: 639px) {
.pc		{display:none;}
.tablet	{display:none;}
.mobile	{display:block;}

.bg_wrap	{background:url('../_img/mo/main/white_bg01.png')no-repeat 0% 15%/120px;}
.all_wrap	{padding:0 15px; background:url('../_img/mo/main/white_bg02.png')no-repeat 100% 45%/110px;}

.visual_wrap					 {position:relative;}
.visual_wrap .fade				{width:100%;}
.visual_wrap .fade > div		{}
.visual_wrap p.img				{height:410px;width:100%;}
.visual_wrap .txtwrap			{position:absolute; top:39px; padding-left:1%;}
.visual_wrap .text p:first-child		{font:400 26px/42px "S-CoreDream"; color:#000;}
.visual_wrap .text p:first-child span	{font:800 26px/42px "S-CoreDream";}
.visual_wrap .text p:last-child			{color:#5b607c; font:400 16px/22px "Noto Sans KR", sans-serif; margin-top:10px;}
.visual_wrap .btns			{margin-top:39px;}
.visual_wrap .btns .btn01	{background:#343c85 url('../_img/pc/main/btn_arr.png')no-repeat 90% 50% /6px;}
.visual_wrap .btns .btn02	{background:#6571e0 url('../_img/pc/main/btn_arr.png')no-repeat 90% 50% /6px; margin-top:10px;}
.visual_wrap .btns a		{padding:15px 40px 15px 20px; color:#fff; font:300 14px/14px "Noto Sans KR", sans-serif;  transition:all, 0.3s; width:117px; display:block;}
.visual_wrap .btns .btn01:hover	{background:#242a64 url('../_img/pc/main/btn_arr.png')no-repeat 90% 50% /6px;}
.visual_wrap .btns .btn02:hover	{background:#434fbd url('../_img/pc/main/btn_arr.png')no-repeat 90% 50% /6px; margin-top:10px;}
.visual_wrap .slick-dots	{bottom:57px; text-align:left; top:unset; left:4%; width:fit-content;}
.visual_wrap .slick-dots li.slick-active button::before	{background-color:#4d5cbc;}

.section_title		{text-align:center;}
.section_title span	{color:#ee2c49; font:400 16px/21px "Open Sans", sans-serif;}
.section_title p		{color:#000; font:600 26px/37px "S-CoreDream";}

.business	{text-align:center;}
.business > div	{margin:0 auto; width:100%;}
.business > div .cen	{padding:40px 0;}
.business .boxes			{overflow:hidden; margin:25px 0 0; cursor:pointer;}
.business .boxes .change02	{display:none;}
.business .boxes > div					{width:50%; float:left; box-sizing:border-box; padding:5px;}
.business .boxes > div > div			{padding:20px;border:1px solid #ddd; height:104px; word-break:keep-all;}
.business .boxes > div:nth-child(even)	{padding-right:0;}
.business .boxes > div:nth-child(odd)	{padding-left:0;}
.business .boxes .txt				{text-align:left; }
.business .boxes .txt p:first-child	{font:500 17px/21px "S-CoreDream"; color:#333333;}
.business .boxes .txt p.change01	{font:300 14px/19px "Noto Sans KR", sans-serif; color:#888; margin-top:7px; word-break:keep-all;}
.business .boxes .txt p.change01 br	{display:none;}
.business .boxes > div.b01 > div	{background:#f7f7f7 url('../_img/mo/main/box_bg01.png')no-repeat 100% 80%/157px ;}
.business .boxes > div.b02 > div	{background:#f7f7f7 url('../_img/mo/main/box_bg02.png')no-repeat 100% 135% / 127px;}
.business .boxes > div.b03 > div	{background:#f7f7f7 url('../_img/mo/main/box_bg03.png')no-repeat 100% 41px /138px ;}
.business .boxes > div.b04 > div	{background:#f7f7f7 url('../_img/mo/main/box_bg04.png')no-repeat 93% 116%/158px ;}
.business .boxes > div.b05 > div	{background:#f7f7f7 url('../_img/mo/main/box_bg05.png')no-repeat 110% 40px /153px;}
.business .boxes > div.b06 > div	{background:#f7f7f7 url('../_img/mo/main/box_bg06.png')no-repeat 90% 63px /120px;}

.news	{}
.news .section			{padding:30px 0px 70px; display:block; width:100%; }
.news .notice			{width:100%;}
.news .notice li		{display:flex; border-bottom:1px solid #e8e8e8; padding:12px 0; cursor:pointer;}
.news .notice .date		{text-align:center;}
.news .notice .date p	{font:600 29px/21px "Montserrat", sans-serif; color:#d4d4d4;}
.news .notice .date span{font:400 14px/19px "Open Sans", sans-serif; color:#777;}
.news .notice .txt		{padding:0 0 0 12px; display:block; overflow:hidden; width:100%; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal !important;}
.news .notice .txt p	{font:500 16px/19px "Noto Sans KR", sans-serif; color:#333;  display:block; overflow:hidden; width:100%; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal !important;}
.news .notice .txt span	{font:300 14px/19px "Noto Sans KR", sans-serif; color:#666;}
.news .notice .txt:hover p		{color:#ee2c49;}
.news .notice li:first-child	{padding-top:0;}
.news .banner	{width:100%; margin-top:60px;}
.news .banner p img	{width:100%;}
.news .banner .slick-slide p	{width:100% !important;}

}

